[am-Grid] {
    float: left;
    width: 100%;
}

body {
    background-color: #f5f5f5;
}
select {
    margin: 0;
    border: 0 solid transparent;
    background: #fff;
    width: 100%;
    box-shadow: inset 0 0 0 1px #bfbfbf;
    border-radius: 4px;
    font-size: 14px;
    font-size: 1rem;
    line-height: 1.5714286;
    height: 44px;
    height: 3.1428571rem;
    line-height: 44px;
    line-height: 3.1428571rem;
}
.flexed {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
}
.search-filters__container {
    background-color: #fafafa;
    border-bottom: 1px solid #e1e1e1;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
div {
    display: block;
}
.container {
    max-width: 1152px;
    margin-left: auto;
    margin-right: auto;
}

.row {
    margin-bottom: 20px;
}
@media only screen and (min-width: 601px){
.container {
    width: 85%;
}
}
@media screen and (max-width: 1174px){
.container--fluid, .header-strip__container, .hero__container {
    padding-left: 22px;
    padding-right: 22px;
}
}
.container--fluid, .header-strip__container, .hero__container {
    max-width: 1152px;
    margin-left: auto;
    margin-right: auto;
}

.search-filters__visibility-toggle {
    text-align: right;
}
.s-small-padding-vertical, .search-filters__visibility-toggle, .service, .service-gallery__grid, .profile {
    padding-top: 22px;
    padding-bottom: 22px;
}

.button-search {
    height: 50%;
    width: 80%;
    border: 0;
    border-radius: 4px;
    cursor: pointer;
    position: absolute;
    bottom: 8px;
    right: 0px;
    left: 0px;
    
}
.button-wrapper{
    position:relative;
    text-align: center;
}
.search-filters__price__input {
    margin-right: 5.5px;
    line-height: normal;
    padding: 0;
    border: 0;
    border-radius: 4px;
    text-align: center;
    color: #000;
    display: inline;
}


.service__card {
    position: relative;
    border-radius: 4px;
    background: #fff;
    box-shadow: 0 2px 4px rgba(0,0,0,.1);
    transition: all .2s ease;
    margin-bottom: 22px;
    width:100px;
}

.service__card__gallery {
    padding-top: 80.4545455%;
    position: relative;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    overflow: hidden;
}

.service__card__gallery__image {
    width: 100%;
    height: auto;
}

.service__card__gallery__link, .service__card--custom-job__link {
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1;
}

.service__card__prev-button {
    left: 0;
    padding-left: 4.4%;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.service__card__next-button {
    right: 0;
    padding-left: 5.15%;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.service__card__loading {
    background-color: #fff;
    opacity: .5;
    animation: opacity-pulse .75s alternate infinite;
    pointer-events: none;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 2;
}
.service__card__name {
    max-height: 44px;
    overflow: hidden;
    font-weight: 700;
    font-size: 1.1rem;
    line-height: 1.5rem;
}
.service__card__provider__name {
    font-weight: 700;
    display: block;
    font-size: .9rem;
}

.service__card__provider__recommended {
    display: inline-block;
    font-size: .9rem;
    color: #999;
    margin-right: 4.4px;
}
.service__card__provider__jobs-done {
    display: inline-block;
    font-size: .9rem;
    color: #999;
}
.service__card__amount {
    font-weight: 700;
    text-align: right;
    font-size: 1.5rem;
    line-height: 1;
}
.service__card__turnaround {
    text-align: right;
    font-size: .9rem;
    color: #999;
}
.is-hidden {
    display: none;
}

.service__card__gallery__link, .service__card--custom-job__link {
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1;
}

.service__card__text {
    overflow: hidden;
    height: 66px;
    margin-left: 11px;
    margin-right: 11px;
    margin-bottom: 16.5px;
}

.service__card__details {
    display: block;
    min-height: 44px;
}
