  img {
    background:rgba(0,0,0,.1) no-repeat center center fixed; 
    background-size:cover;
  }

  .parallax-container {
    min-height: 380px;
    line-height: 0;
    height: auto;
    color: rgba(255,255,255,.9);
  }
    .parallax-container .section {
      width: 100%;
    }
  
  @media only screen and (max-width : 992px) {
    .parallax-container .section {
      position: absolute;
      top: 40%;
    }
    #index-banner .section {
      top: 10%;
    }
  }
  
  @media only screen and (max-width : 600px) {
    #index-banner .section {
      top: 0;
    }
  }
  
  .icon-block {
    padding: 0 15px;
  }
  .icon-block .material-icons {
    font-size: inherit;
  }
  
  footer.page-footer {
    margin: 0;
  }
  
  .card-image{
    height: 100%;
    overflow: hidden;
  }
  .card-image {
    width: 100%;
    padding-bottom: 50%;
    overflow: hidden;
    position: relative;
  }
  
  .card {
    height:200px;
   }
  
   .card-image img {
    height:175px;
   }
  
   a { color: inherit; }
   

/*Search bar style*/
.nav-search{border-radius: 10px;
  width: 600px;
  margin: 0 auto;
  border: none;
  background: #000}
nav .nav-wrapper{border-radius: 10px;
  border: none;
  background: #000;}

nav .nav-wrapper .input-field input {border-radius: 10px;
  border: none;}
